.footersection{
    background-color: rgb(32, 32, 32);
    height: auto;
    padding-left: 50px;
    font-size: 1.2rem;
    color: rgb(206, 201, 201);
}

.firstsection{
     
   padding: 40px; 
}
.sectioncontent1{
    width: 60%;
}
.secondsection{
    padding: 40px; 
}
.thirdsection{
    padding: 40px; 
    
}
.fourthsection{
    padding: 40px; 
}
.Logo{
    width: 100px;
    height: 60px;
    margin-bottom: 30px;
}
.linktag{
    text-decoration: none;
     
  }
    
  .linktag:hover{
    text-decoration: none;
    color: gray;
  }

  .footerheading{     
    font-size: 2.5rem;
    font-weight: bold;
}



@media (min-width:300px){

html{
font-size:70%;
}
}

@media (min-width:900px){
    html{
      font-size: 80%;
    }
    .firstsection{
     
        padding: 0px; 
     }
    
     .secondsection{
         padding: 0px; 
     }
     .thirdsection{
         padding: 0px; 
         
     }
     .fourthsection{
         padding: 0px; 
     }

     .footersection{
        padding-left: 0px;
    
    }
}


@media (min-width:1200px){
    html{
      font-size: 90%;
    }
}