@font-face{
    src: url(../Content/Oswald-Regular.ttf);
   
    font-family: Oswald;
  
  }
  @font-face{
    src: url(../Content/OpenSans-Regular.ttf);
   
    font-family: OpenSans;
  
  }

.policyheading{
    font-size: 32px;
    font-weight: bold;
    font-family: Oswald;
    color: rgb(58, 58, 58);
    margin-top: 50px;

}

.policycontent{
    font-size: 16px;
    font-family:OpenSnas;
    color: rgb(59, 59, 59);
    margin-top: 10px;
}
.policymainheading{
    margin-top: 100px;
    margin-bottom: 20px;
    font-family: Oswald;
    font-size:32px ;
    font-weight: bold;
    text-align: center;
    color: rgb(59, 59, 59);

}
.bannertext2{
    top: 0px;
    font-size: 40px;
    font-family: Oswald;
    text-align: center;
}
.refundpolicy{
    font-size: 16px;
    font-family: OpenSans;
    color: rgb(59, 59, 59);
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;

}



 